.body{
    font-family: 'Inter', sans-serif;
    background-color: E5E5E5;
}
.dark{
    background-color: #232326;
    color: #F3F2F0;
}
.wraper{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.name{
    font-size: 50px;
    
}
.tittle-h1{
    font-size: 70px;
    text-transform: uppercase ;
    
}
.photo{
    margin-bottom: 113px;
    width: 100%;
}
.nav-link{
    text-decoration: none ;
    color: #F3F2F0;
    font-size: 14px;
    
}
.nav-link :hover{
    color: #D40000;
}
